#mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
}


body{
    background-color:rgb(76, 115, 87);
}

button{
    border-radius: 3px;
    background-color: rgb(105, 144, 167);
    border:1px solid black;
}

h4,p{
    color:rgb(53, 55, 75);
}

.small-div{
    padding: 1rem;
    border-radius: 3px;
}

#container{
    display: flex;
    justify-content: space-around;
}

#minRatingDisplay{
    color:rgb(19, 6, 197);
}

@media(width <480px){
    .small-div{
        width: 90%;
    }
}
@media(480px<= width <=750px){
    .small-div{
        width: 40%;
    }
}
@media(width >750px) {
    .small-div {
        width: 20%;
    }
}


