#mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
}

#logo{
    width:12%;
}

#nav{
 display: flex;
 justify-content: space-between;
}

body{
    background-color:rgb(57, 87, 65);
}

#mainRunner{
    border-radius: 3px;
    background-color: black;
    border:1px solid black;
    color:white;
}

h3,h4,p{
    color:rgb(53, 55, 75);
}

.small-div{
    padding: 1rem;
    border-radius: 3px;
}

#container{
    display: flex;
    justify-content: space-around;
    background-color:rgb(76, 115, 87);
    border-radius: 3px;
}

#innerContainer{
    padding: 1rem;
}

.buttonLink{
    text-decoration: none;
}
.corsButtons{
    background-color: burlywood;
    border:1px solid white;
    border-radius: 3px;
}

#corsButtonsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#minRatingDisplay{
    color:rgb(19, 6, 197);
}

@media(width <480px){
    .small-div{
        width: 90%;
    }
}
@media(480px<= width <=750px){
    .small-div{
        width: 40%;
    }
}
@media(width >750px) {
    .small-div {
        width: 20%;
    }
}


